@import 'color-code.css';
@import 'fonts.css';

body {
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    
}

html, body {
    /* height: 100%; */
}

.custom-navbar-color {
    background-color: var(--main-color);
}

.hello-world {
    font-family: var(--main-font);
    font-size: 1.8vw;
    font-weight: 400;
}

.intro-text {
    font-weight: 450;
    /* font-weight: bold; */
    font-size: 1.25vw;
    font-family: 'Lato', sans-serif;
}

.landing-img {
    width: 100%;
    height: auto;
    max-width: 40vw;
}

.left-container, .right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
}

.main-container {
    display: flex;
    flex-direction: row;
    /* height: calc(100vh - 56px); Adjust for navbar height */
    background-color: var(--background-color);
}

.main-item {
    /* flex: 1;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.name {
    font-family: 'Dancing Script';
    color: var(--main-color);
    /* color:red; */
    font-size: 4.5vw;
    font-weight: bold;
    margin: 10px 0px;
}

.nav-link {
    font-size: 1.2vw !important;
    font-weight: bold !important;
}

.right-container {
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.right-items {
    margin-right: 4vw;
    text-align: left;
}

.scroll-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-button:hover {
    background-color: var(--accent-color);
    transform: translateY(-3px);
}

.scroll-button:active {
    background-color: #004080;
    transform: translateY(1px);
}

.text-scroll {
    margin: 0;
}

.skills-section{
    background-color:var(--background-color) ;
}

.skills-text, .projects-text {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    
}

.skills-div {
    background-color:yellow;
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    background-color: var(--background-color);
    padding: 3vh;
    text-align: center;
    
}

.one-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3 ease;
    padding: 1rem;
    background-color: azure;
    border-color: var(--main-color)

}

.one-skill:hover {
    transform: translateY(-5x);
}

.one-skill ul{
    list-style-type: none;
    font: var(--main-font);
    text-align: left;
    
}

.one-skill h3{
    color: var(--main-color);
    margin-bottom: 6%;
}
#python {
    height:auto;
}


#gis_survey {
    height:auto;
}



#web_development {
    height: auto;
}

.gis-skills{
    text-align: left;
}
 
.one-skill li {
    margin-bottom: 1rem;
}

.one-skill ul li .fas {
    margin-right: 8px; /* Adjust the spacing as needed */
}
/* @media (min-width: 768px) {
    .skills-div {
        grid-template-columns: repeat(3, 1fr);
    }
} */

@media (max-width: 768px) {
    .scroll-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    
}

@media (max-width: 480px) {
    .scroll-button {
        padding: 6px 12px;
        font-size: 12px;
        margin-top:30%;
        
        font-weight: bold;
        color: white;
        background-color: var(--accent-color);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;
        transform: scale(1.65);
    }

    .main-container{
        display:flex;
        flex-direction: column;
        /* background-color: blue; */

    }

    .left-container{
        margin-top:6%;
    }

    .right-container{
        order:1;
        padding:0;
        margin-top: 4%;
    }

    .landing-img{
        width: 18rem;
        max-width:fit-content;
        height:auto;
    }

    .intro-text{
        margin-top:2rem;
        max-width:6.5rem;
    }

    .right-texts{
        max-width:10rem;
    }

    .right-text{
        transform: scale(2.9);
        transform-origin: center;
        text-align: justify;
    }

    .name{
        margin-top:35%;
        text-align: center;
    }

    .intro-text{
        margin-top:45%;
        text-align: center;
    }

    .hello-world{
        text-align: center;
        margin-top:20%;
    }




}
